@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "BrownSugar";
  src: local("BrownSugar"),
  url("./fonts/Brown Sugar .ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Znikomit";
  src: local("Znikomit"),
  url("./fonts/Znikomit.ttf") format("truetype");
  font-weight: bold;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "BrownSugar";
  color: #ffffff;
}


.mainspan{
  color: #373c59;
  font-family: "Znikomit";
  text-shadow: white 5px 0 15px;}

